@{
    ViewBag.Title = "Romantic";
}

<div class="poem-page-wrapper">

    <!-- Background image -->
    <div class="poem-page-bg" style="background-image: url('/Images/cheesy-bg.jpg');"></div>

    <!-- Dark overlay -->
    <div class="poem-page-overlay"></div>

    <!-- ALL CONTENT MUST BE INSIDE THIS DIV -->
    <div class="container poem-page-content py-5 fade-section visible">

        

        <div class="romantic-poem">

            <p>I am not like the others,</p>
            <p>I would never do you wrong.</p>
            <p>So please don’t compare me to them,</p>
            <p>Because to me, you are everything I ever wanted.</p>

            <p>From the very first day we met,</p>
            <p>I’ve been dreaming about our life together.</p>
            <p>Now I find myself truly understanding love.</p>

            <p>I worry about the future,</p>
            <p>And I think about security,</p>
            <p>Because I want to give you both:</p>
            <p>Love and stability.</p>

            <p>So that one day,</p>
            <p>You can be proud</p>
            <p>To call me yours.</p>

        </div>
		<br />
		<br />
        <a href="/#poems-section" class="btn btn-light mb-4">
            Back to Poems
        </a>

    </div>

</div>

